@media screen and (min-width: 300px) and (max-width: 720px) {
    header, main {
        padding: 0 4vw;
    }

    .navigation {
        display: none;
    }

    .connection {
        display: none;
    }

    /*-------------------*/
    .fp-container {
        display: block;
    }

    .fp-header {
        line-height: 150%;
        font-size: 42px;
        margin-bottom: 30px;
        margin-top: 10vh;
    }

    .fp-text {
        margin-bottom: 50px;
        font-size: 16px;
        width: 100%;
        line-height: 150%; /* 24px */
    }

    .fp-button {
        height: 44px;
        width: 42vw;
        margin-bottom: 66px;
    }

    .fp-img-box {
        width: 100%;
    }

    .fp-img-box > img {
        height: 406px;
    }
    /*----------------------*/

    .fth-container {
        grid-template-columns: 1fr;
    }
    .fth-box{
        min-width: 320px;
    }
    .fth-box>img{
        min-width: 300px;
    }
    /*----------------------*/
    .second-page{
        gap: 0  ;
        height: 420px;
    }
    .sp-text-box{
        grid-template-columns: 1fr;
        height: 200px;
    }
    .sp-header{
        font-size: 36px;
        line-height: 150%; /* 54px */
        width: 90%;
    }
    .sp-text{
        width: 90%;
        font-size: 16px;
        line-height: 150%;
    }
    /*--------------------*/
    .tp-container{
        grid-template-columns: 1fr;
    }
    .tp-icon{
        width: 18.5vw;
        height: 10.5vh;
    }
    .tp-header{
        text-align: start;
        width: 90%;
        font-size: 36px;
        line-height: 150%; /* 54px */
        padding: 0;
    }
    .contact-us{
        grid-template-columns: 1fr;
    }
    /*-----------------------------*/
    .fourth-page{
        height: 900px;
    }
    .fth-header{
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 54px */
    }
    .fth-container{
        height: 850px;
        margin-top: 50px;
        width: 92vw;
        justify-self: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .fth-box{
        min-width: 44vw;
        min-height: 20vh;
    }
    .fth-box img{
        min-width: 110%;
    }
    #one #two{
        width: 90%;
    }
    .one-box{
    }
    .two-box{
        width:100%;
    }
    .two-box>img{
        width: 90%;
    }
    .three-box{

    }
    /*----------------------*/
    .cu-header{
        width: 90%;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 54px */
    }
    .contact-us{
        height: 416px;
    }
    .cu-button{
        width: 44vw;
        height: 44px;
    }
    .footer-panel{
        height: 300px;
        padding-top: 200px;
        flex-direction: column;
    }
    .footer-list{
        display: grid;
        text-align: center;
        margin: 40px 0;
    }
    .copyright{
        color: #FFF;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
    }

}
