body{
    padding: 0;
    margin:0;
    background: #19191B;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}
section{
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);;
}
header,main{
    padding:0 8vw;
}
/*-------------------------------------header----------------------------------*/
header{
    height: 107px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15vw;
    align-items: center;
    justify-content: space-between;
}
/*-------------------------------------LOGO----------------------------------*/
.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 40px;
}.logo>h1{
    margin-left: 1vw;

           color: #FFF;
           font-family: 'Montserrat',sans-serif;
           font-size: 28px;
           font-style: normal;
           font-weight: 700;
           line-height: 140%; /* 39.2px */

       }
/*-------------------------------------navigation----------------------------------*/
.navigation{
    width: 27.5vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.navigation>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
}
.navi-buttons{
    font-family: 'Lato',sans-serif;
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.navi-buttons:hover{
    transition: 0.3s;
    font-size: 22px;
    text-shadow: 2px 2px 20px  white;
}
/*-------------------------------------contact----------------------------------*/
.connection>a{
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
    text-decoration: none;
}
.contact-button{
    min-width: 140px;
    width: 10vw;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.contact-button:hover{
    transition: 0.4s;
    background: #5454D4;
}
/*-------------------------------------first-page----------------------------------*/
.first-page{
}
.fp-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.fp-text-box{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}
.fp-header{
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px; /* 105% */
}
.fp-text{
    width: 80%;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
.fp-button{
    /*------font------*/
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*-------style-------*/
    border-radius: 4px;
    background: #5454D4;
    height: 58px;
    width: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fp-button:hover{
    transition: 0.3s;
    background: rgb(154,84,212);
}
.fp-img-box{
    width: 45.55vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------------second-page----------------------------------*/
.second-page{
    margin-top: 151px;
    display: grid;
    gap: 50px;
    height: 860px;
}
.sp-text-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sp-header{
    width: 40vw;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
}
.sp-text{
    width: 41vw;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box>img{
    width: 83vw;
    max-width: 1200px;
}
/*-------------------------------------third-page----------------------------------*/
.third-page{
display: grid;
}
.tp-header{
    margin-top:150px;
    color: #FFF;
    width: 50vw;
    padding: 0 16.5vw;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; /* 116.667% */
}
.tp-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(300px,300px);
}
.tp-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.tp-icon{
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.tp-box-header{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}
.tp-box-text{
    width: 70%;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
}
/*-------------------------------------fourth-page----------------------------------*/
.fourth-page{
    margin-top: 150px;
    display: grid;
    align-content: space-between;
    height: 532px;
}
.fth-header{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.fth-container{
    display: grid;
    grid-template-columns: 1fr 30vw 1fr;
    grid-template-rows: minmax(301px,auto);
    align-items: center;
    justify-items: center;
}
.fth-box{
    box-sizing: border-box;
    width: 26.6vw;
    min-width: 300px;
    min-height: 230px;
    border-radius: 14px;
    border: 24px #1E1E20 solid;
    background: #1E1E20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fth-box>img{
    width: 23.3vw;
    min-width: 290px;
}
.one-box{
    width: 15vw;height: 150px;
}
.two-box{
    width: 30vw;height: auto;
}
.three-box{
    width: 15vw;height: 150px;

}
/*-------------------------------------footer-page----------------------------------*/
footer{
    margin-top: 260px;
}
.contact-us{
    padding: 0 8vw;
    height: 506px;
    background: rgba(30, 30, 32, 0.50);
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
    align-items: center;
}
.cu-header{
    width: 57vw;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cu-button{
    /*-------font*/
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /*-------style*/
    display: flex;
    justify-content: center;
    align-items:center;
    width: 14vw;
    height: 60px;
    border-radius: 5px;
    background: #5454D4;
}
.copyright{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
}
.footer-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
 padding: 50px 8vw 101px 8vw;
}
.footer-list{
    display: none;
    height: 164px;
}
.footer-list-element{
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    text-transform: capitalize;
}
/*---------------media*/
#scrollToTop{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: rgba(95,52,89,0.5);
    position: fixed;
    bottom: 100px;
    left: 0;
}
#scrollToTop>i{
    height: 50px;
    width: 50px;
    color: blueviolet;
    font-size: 50px;

}
.shown{
    display: block;
}
.hidden{
    display: none;
}
.logo>img{
    -webkit-animation: spinreverse 7s infinite linear;
}
#one,#three{
    filter:brightness(20%);
}
#two{
    width: 48vw;
    height: auto;
}

@-webkit-keyframes spinreverse {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}
}